<form class="" method="post" action="/new">
    <input type="text" name="title" class="memo-title border" placeholder="タイトル">
    <textarea name="body" class="memo-body border" placeholder="内容"></textarea>
    <input type= "submit" value="追加" class="button add">
</form>