<ul class="memo-titles">
  <% @memos.each do |memo| %>
    <li>
        <a href="/memo/<%= memo[:id] %>">
          <%= memo[:title] %>
        </a>
    </li>
  <% end %>
</ul>

<div class="button new-in-top">
  <a href="/new">追加</a>
</div>
