<!DOCTYPE html>
<html lang="ja">
  <head>
    <meata charset="urf-8">
    <title>sinatra test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
  <div class="container" syle="padding:20px 0">
    <h1>メモアプリ</h1>
    <%= yield %>
  </div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>